/*Mise en place Header*/
#header {
    display: flex;
    background-color: white;
}

#en-tete {
    display: flex;
    justify-content: space-between;
}

#lien-container {
    display: flex;
    align-items: center;

}

#lien-container div {
    margin: 2%;
}

#header-lien-1 {
    display: flex;
}

#header-lien-2 {
    display: flex;
}

#header-lien-3 {
    display: flex;
}

#header-lien-4 {
    display: flex;
}

#en-tete a {
    color: grey;
}

#logo {
     width: 55%;
}

a {
    text-decoration: none;
    color: white;
}

/*Haut du main avec img en background*/
#background {
    font-size: 20px;
    color: white;
    background-image: url("reunion-background.webp");
    background-size: cover;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 2%;

}

#border-intro {
    display: inline;
    border: solid midnightblue;
    background-color: midnightblue;
}

.intro-color {
    color: orangered;
    font-size: 900;
}

/*Logos*/
#logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#horloge {
    display: flex;

}

#lieu {
    display: flex;
}

#etude {
    display: flex;
}

#budget {
    display: flex;
}

#certif {
    display: flex;
}

.titres {
    margin-bottom: 6px;
    font-weight: 900
}

.text {
    margin-top: 4px;
    font-size: 18px;
    color: grey;
}

/*Formation en Cybersécurité*/
.margin-top {
  margin-top: 5%;
  font-size: 18px;
}

.title-center {
    text-align: center;
}

#border {
    display: flex;
    width: 100%;
    margin-top: 5%;
    color: grey;
}

#color-title1 {
    color: mediumvioletred;
}

.gras {
    font-weight: 900;
}

.lien {
    border: solid orangered;
    background: orangered;
    color: white;
    border-radius: 5px;
    align-items: center;
}

.lien-center {
    text-align: center;
}

.list {
    list-style-type: none;
}

#border-developpeur {
    border: solid;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 7%;
    border-radius: 5px;
}

#color-title2{
    color: dodgerblue;
}

#border-administration {
    border: solid;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 5%;
    border-radius: 5px;
}

#color-title3 {
    color: orangered;
}

#border-data {
    border: solid;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 5%;
    border-radius: 5px;
}

/*Enjeux Cyber*/
#container-cyber {
    background-color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#title-text{
    display: flex;
}

#title-cyber {
    width: 50%;
    display: flex;
    color: white;
    margin-left: 50px;
}

#text-cyber {
    font-size: 18px;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 25%;
    padding-right: 10%;
}

#informations {
    border: solid orangered;
    background: orangered;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

/*Candidature*/
#candidature {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin-top: 100px;
}

#candidature-text {
    display: flex;
    font-size: 22px;
    color: grey;
    padding-left: 30%;
    padding-right: 30%;
}

#candidater {
    display: flex;
    border: solid blue;
    background: blue;
    border-radius: 5px;
    justify-content: space-evenly;
    font-size: 25px;
}

/*Sofiane*/
#sofiane {
    display: flex;
    margin-top: 50px;
    background: mediumvioletred;

}

#sofiane-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 200px;
    font-size: 30px;
    color: white;
}

#margin-top {
    margin-top: 130px;
}

#picture {
    display: flex;
    border-radius: 20px;
    margin-right: 200px;
}

#etudiant {
    padding: 5%;
}

/*Questions*/
#group {
    margin-top: 100px;
    font-size: 22px;
}

#container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#text-questions1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}

#text-questions2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
}

#rdv {
    border: solid orangered;
    background: orangered;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 58.2%;
}

.text-blue {
    color: blue;
}

.text-gras {
    color: grey;
    font-weight: 900
}

#img-final {
    margin-top: 50px;
    margin-left: 95px;
    border-radius: 50px;
    width: 40%;
}

/*Mise en place du footer*/

#footer {
    display: flex;
    background-color: grey;
    justify-content: space-around;
    color: white;
    margin-top: 3%;
    font-size: 18px;
    margin-top: 50px;
}

#column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#logo2 {
    width: 70%;
}

#column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

.color-principal {
    color: white;
}

#border-2 {
    border: solid white;
    background-color: white;
}

.color-grey {
    color: grey;
}

#border-3 {
    border: solid orangered;
    background-color: orangered;
}

#border-4 {
    border: solid white;
}

